.input-box {
  min-width: 400px;
  height: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  cursor: text;
  border-radius: 5px;
}
.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.task-box {
  display: flex;
  margin-bottom: 10px;
}