.task-box {
  display: flex;
  align-items: center;
  margin-top: 15px;
}


.input-box {
  width: 600px;
  height: 38px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 10px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 9px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(20, 115, 72);
}
