.message-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p1 {
  font-weight: bold;
  margin-bottom: 5px;
}