.app-container {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-area {
  flex: 1;
  width: 100%;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}
