.heading1 {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-transform: uppercase;
  word-spacing: 12px;
  letter-spacing: 8px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.heading2 {
  color: #666;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  margin-top: 0px;
}
